 html body {
background-color: #91f9e5;
}



#headerName {
    font-family: 'Oregano', cursive;
    font-size: 60px;
    text-align: center;
    /* background-color: #91f9e5; 
    /* background-color: #76f7bf; */
    padding-top: 23px;
    padding-bottom: 6px;
    /* border-bottom: #73bfb8 solid 5px; 
    /* border-top: #dce0d9 solid 5px; */
    /*background-color: #f38196;*/
  /*  background-color: #89a894
*/
}


body {
	background-color: #73bfb8 ;

}

#button-div {
	margin: 10px 0px 25px 0px;
}

.car-btn {
	background-color: lightblue;
	font-size: 15px;
	margin: 0px 5px;
	border-radius: 10%;
}
img {
	margin: 5px 0px;
}
#add-car {
	background-color: lightblue;

	font-size: 15px;
	border-radius: 10%;

}
#car-form {
	float: right;
	margin: 30px 40px;
	border: solid 2px lightblue;
	padding: 10px;
	background-color: #3A414B;
}

.bottom {
	background-color: #89a894;
}

#gif-div {
	width: 60%;
	float: left;
	margin-left: 15px;
}

label {
	font-size: 20px;
	color: white;
}